body { background: #8ace19; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 36px; display: flex; }
.block-router-0 { color: #d7f8f6; font-size: 16px; margin-bottom: 5px; }
.block-product-1 { color: #480725; font-size: 12px; margin-bottom: 5px; }
.block-shipping-2 { color: #5a991e; font-size: 16px; margin-bottom: 5px; }
.block-shipping-3 { color: #fd867a; font-size: 21px; margin-bottom: 5px; }
.block-uploader-4 { color: #663654; font-size: 14px; margin-bottom: 5px; }
.block-auth-5 { color: #4444c4; font-size: 16px; margin-bottom: 5px; }
.block-shipping-6 { color: #f6544; font-size: 12px; margin-bottom: 5px; }
.block-shipping-7 { color: #4f170b; font-size: 13px; margin-bottom: 5px; }